<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contacts</h2>
  <p>
    I am going to try and list contacts from the 'contact' app.
  </p>
</div>
{{#each model as |contact|}}
  <article class="listing">
    <h3>{{contact.name}}</h3>
    <div class="detail owner">
      <span>Web site:</span> {{contact.website}}
    </div>
    <div class="detail location">
      <span>Postcode:</span> {{contact.postcode}}
    </div>
  </article>
{{/each}}
